* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 1880px;
  height: 100%;
  background: rgba(0, 26, 69, 1);
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  border: 0;
}
img:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
@font-face {
  font-family: LEDFont;
  src: url("../unidreamled.ttf");
}
.phoneMessage {
  vertical-align: middle;
  margin-right: 0.03rem;
  width: 0.08rem;
  height: 0.08rem;
}
/* 遮罩层 */
.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 15, 39, 1);
  width: 100%; /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  height: 100%;
  opacity: 0.6;
  z-index: 998;
}
[v-cloak] {
  display: none !important;
}
.BMap_cpyCtrl {
  display: none !important;
}

.anchorBL {
  display: none !important;
}
.el-select-dropdown {
  background: rgba(9, 47, 66, 0.5) !important;
  border: 1px solid #00b3ed !important;
  color: #fff !important;
}
.el-select-dropdown__item {
  color: #fff !important;
}
.el-select-dropdown__item.hover {
  background-color: #00b3ed !important;
  color: #fff !important;
}
